<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="/src/static/css/styles.css">
    <link rel="icon" href="/src/static/icon.ico" type="image/x-icon">
    <script src="/src/static/js/base.js" defer></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                
                <a href="/messages"><img width="35px" height="35px" src="/src/static/icon.png" alt="Логотип" /></a>
                <span class="logo-text">Messenger</span>
                
            </div>
            
            <div class="auth">
                {% if user%}
                    <div class="user-info">
                        <span class="user-name">{{ user.name }} {{ user.surname }}</span>
                        <div class="avatar" onclick="toggleMenu()">
                            <img src="/src/static/ava.png" alt="Аватар" style="width: 100%; height: 100%; border-radius: 50%;">
                        </div>
              
                        <div id="dropdown-menu" class="dropdown-menu">
                            <a href="/me">Мой профиль</a>
                            <a href="/tg">Подключить телеграм</a>
                            <a href="#" onclick="logout(event)">Выход</a>
                        </div>
          
                    </div>

                    
                
                {% else %}
                    <a href="/auth/register" class="auth-link">Регистрация</a>
                    <a href="/auth/login" class="auth-link">Вход</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <div class="main-container">
            {% block main %}
                {% if not user %}
                    <h2 style="margin: 0 auto; font-size: 20px;">Вы должны войти в свой аккаунт, или зарегистрироваться.</h2>
                {% else %}
                    {% if people %}
                    <div class="sidebar">
                        <div class="user-list-container">
                            {% for person in people %}
                            {% if person.id != user.id %}
                                <a href="javascript:void(0);" class="user-card selected" data-id="{{ person.id }}" onclick="openDialog(this)">
                                    <img src="/src/static/ava.png" alt="{{ person.name }}" class="user-avatar">
                                    <span class="user-fullname">{{ person.name }} {{ person.surname }}</span>
                                </a>
                                {% if not loop.last %}
                            
                                {% endif %}
                            {% endif %}
                        {% endfor %}    
                        </div>
                        
                        
                    </div>
                    {% endif %}
               
                    <div class="dialog-container">
                        <h3 style="text-align: right;">Нажмите на человека с кем хотите открыть диалог</h3>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </main>
    {% block script %}
    <script src="/src/static/js/dialog.js"></script>
    <script>const currentUserId = parseInt("{{ user.id }}", 10);</script>
    {% endblock %}
</body>
</html>
