/* базовый шаблон */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #2b2b2b;
    border-radius: 15px;
    margin-top: 10px;
}

.logo-text {
    font-size: 18px;
    color: #f5f5f5;
    font-weight: bold;
}

.auth-link {
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: #f5f5f5;
}

.auth-link:hover {
    color: #3a8bc3;
}

.dropdown-menu {
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdown-menu a {
    color: #f5f5f5;
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.avatar {
    border: 2px solid #f5f5f5;
}

.main-container {
    background-color: #2b2b2b;
    border-radius: 15px;
}

.sidebar {
    background-color: #333333;
    border-right: 1px solid #444444;
}

.user-card {
    background-color: #2b2b2b;
    color: #f5f5f5;
    border: 1px solid #444444;
}

.user-card:hover {
    background-color: #3a3a3a;
    border-color: #555555;
}

.selected {
    background-color: #485a6f;
    border-color: #666666;
}

.user-avatar {
    background-color: #444444;
}

.dialog-container {
    background-color: #2b2b2b;
}

.registration-container {
    background-color: #2b2b2b;
    border: 1px solid #444444;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.title-register {
    color: #f5f5f5;
}

.label-register {
    color: #cccccc;
}

.input-register {
    background-color: #333333;
    border: 1px solid #555555;
    color: #f5f5f5;
}

.input-register:focus {
    border-color: #3a8bc3;
}

.button-register {
    background-color: #3a8bc3;
}

.button-register:hover {
    background-color: #1a73e8;
}

.link-register {
    color: #cccccc;
}

.auth-link-register {
    color: #3a8bc3;
}

.auth-link-register:hover {
    text-decoration: underline;
}

.profile-card {
    background-color: #2b2b2b;
    color: #f5f5f5;
}

.profile-email, .profile-registration-date, .profile-telegram-id {
    color: #cccccc;
}

.messages {
    background-color: #2b2b2b;
    border: 1px solid #444444;
}

.message.sender {
    background-color: #3a3a3a;
    color: #e5e5e5;
}

.message.receiver {
    background-color: #2e2e2e;
    color: #e5e5e5;
}

.message-timestamp {
    color: #909090;
}

/* mobile */
@media (max-width: 768px) {
    .dropdown-menu {
        transform: translateX(-30px);
    }

    .messages {
        max-width: 100%;
        margin: -10px;
        margin-bottom: 25px;
    }
}
