/* 
базовый шаблон 
*/

body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 241, 241);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.logo img {
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
    color: black;
    font-weight: bold;
}


.auth {
    display: flex;
    align-items: center;
}

.auth-link {
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.auth-link:hover{
    color: blue;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    min-width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}


.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.show {
    display: block;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}




.user-name {
    font-weight: bold;
    font-size: 18px;
}

.main-container {
    max-width: 1000px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 10px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    max-width: 300px;
    min-width: 250px;
}

.user-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}


.user-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    color: #212529;
    border: 1px solid #dee2e6;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;

}


.user-card:hover {
    background-color: #f1f3f5;
    border-color: #ced4da;
    transform: scale(1.02);
}

.selected {
    background-color: #c5dbf0;
    border-color: #adb5bd;
}


.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #e0e0e0;
}



.dialog-container {
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    min-height: 600px;
    margin-top: -20px;
}



/* шаблон с регистрацией */
.registration-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title-register {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group-register {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-register {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-register {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}


.input-register:focus {
    border-color: #007bff;
    outline: none;
}

.button-register {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-register:hover {
    background-color: #0056b3;
}

.link-register {
    text-align: center;
    margin-top: 15px;
    color: #555;
}

.auth-link-register {
    color: #007bff;
    text-decoration: none;
}

.auth-link-register:hover {
    text-decoration: underline;
}


/* /me */
.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-left: 325px;
}
.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile-name {
    font-size: 1.5em;
    margin: 10px 0;
}
.profile-email, .profile-registration-date, .profile-telegram-id {
    font-size: 0.9em;
    color: #555;
    margin: 5px 0;
}



/* messages */
.messages {
    min-height: 350px;
    max-height: 350px;
    max-width: 650px;
    overflow-y: auto;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.message {
    max-width: 80%;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    line-height: 1.4;
}

.message.sender {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message.receiver {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}




input[type="email"],
input[type="password"],
input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
}



button:hover {
    background-color: #0056b3;
}

.btn-send {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.message-timestamp {
    color: rgb(91, 89, 89);
    font-size: 0.9em;
    margin-top: 5px;
    text-align: right;
}